h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #6b8778;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #070707;
}

li {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #070707;
}

div {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #070707;
}
